*{
    font-family:'Quicksand', Arial, sans-serif;
}
.hero-image{
    background-image: url("Image/header.png");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
    position: relative;
}

.hero-image2{
    background-image: url("Image/stefan-k-PzJslB7ds_Y-unsplash.jpg");
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; 
    position: relative;

}

.hero-text{
    font-size: 45px;
    color: #000000;
    width: 100%;
    position: absolute;
    text-align: left;
    margin-left: 60px;
    margin-top: 100px;


}
.hero-text2{
    font-size: 45px;
    color: #000000;
    width: 100%;
    position: absolute;
    text-align: left;
    margin-left: 60px;
    margin-top: 160px;


}

.small-text{
    font-size: 20px;
    color: #353535;
    position: absolute;
    text-align: left;
    margin-top: 320px;
}

.returnbutton {
  position: absolute;     /* 浮动在图片上方 */
  top: 40px;              
  right: 40px;            
  gap: 15px;              /* 按钮之间的上下间距 */
  z-index: 10;            /* 确保按钮在最上层 */
  font-size: 40px;
}

.sort-buttons {
  position: absolute;     /* 浮动在图片上方 */
  top: 40px;              
  right: 50px;            
  display: flex;          /* 开启 Flex 布局 */
  flex-direction: column; /* 💡 关键：让 3 个按钮上下垂直排列！ */
  gap: 15px;              /* 按钮之间的上下间距 */
  z-index: 10;            /* 确保按钮在最上层 */
  font-size: 20px;
}


.btn {
  display: inline-block;     /* 让 a 标签支持宽高和 padding */
  text-decoration: none;     /* 去掉链接下划线 */
  font-weight: 500;
  color: #5c3a21;
  border-radius: 8px;        /* 圆角 */
  padding: 12px 20px;        /* 按钮内边距 */
  width: 260px;              /* 固定按钮宽度 */
  text-align: center;        /* 文字居中 */
  box-sizing: border-box;    /* 防止 padding 撑大按钮 */
  transition: all 0.2s;      /* 悬停动画 */
}


.btn-lighter {
  background-color: #FFEABF; 
}

.btn-orange {
  background-color: #F8B78E; 
  color: #4a2810;
}

.btn-light {
  background-color: #FFEEDB; 
}

/* 4. 鼠标悬停动效 */
.sort-btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}


body{
    background-color: #FEF9EB;
}